header {
  width: 100%;
  height: 80px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
}

header .interpol_head{
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.interpol_logo{
  font-weight: 800;
  font-size: 30px;
  color: rgb(10, 80, 150);
  text-decoration: none;
  padding-left: 20px;
}
.interpol_logo:hover{
  color: rgb(90, 140, 200);
}

.interpol_menu{
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

.interpol_menu li{
  display: inline-block;
}

.interpol_menu li a{
  display: inline-block;
  color: rgb(110, 160, 210);
  text-decoration: none;
  padding: 20px;
  font-size: 20px;
}

.interpol_menu li a:hover{
  color: rgb(35, 50, 60);
}


footer{

    background: rgb(10, 80, 150);
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;
    margin-top: auto;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
    margin-right: 30px;
}
.socials li{
    margin: 0 10px;

}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;

}
.socials a:hover i{
    color: rgb(90, 140, 200);
}

.footer-bottom{
    background: rgb(5, 45, 90);
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
